@import url('https://fonts.cdnfonts.com/css/verdana');
                

*{

    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'Verdana', sans-serif;

}

#header{
   
    background-color: #ffffff;
    width: 100%;
    height: 40%;
    display: flex;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;

}

#imagenHeader{

    width: 60%;
    padding-left: 300px;
}

#informacionHeader{

    padding-top: 55px;
    padding-right: 300px;
    width: 40%;

}

#tituloHeader{
    font-weight: 600;
    font-size: 40px;
    color: #272929;

}

#subtituloHeader{

    text-align: end;
    padding-top: 20px;
    color: #c0c0c0;
}

#parrafoHeader{

    padding-top: 20px;
    text-align: justify;
    color: #4a6ba1;
}

/*Seccion nav*/

#nav{
    
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    background-color: #bf0514;
    width: 100%;
    height: 20%;
    overflow: hidden;

}

.divNav{

    font-size: 20px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#planes{

    padding-left: 80px;
    padding-right: 80px;

}

#inicio{

    padding-left: 20px;
}


#bottom{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 40%;

}

.divCuadrado{

    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
}

#divPlaneta{
    
    padding: 5px;
    margin-right: 100px;
    background-color: #bf0514;

}

#divMusica{
    
    padding: 5px;
    margin-right: 100px;
    background-color: #4a6ba1;
}

#divCompra{

    padding: 5px;
    background-color: #c0c0c0;
}


.imgCuadrado{

    width: 120px;
    height: 120px;
}